<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/henry</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">update</property>
        <!-- 使用Spring就不用配置这句了 -->
        <property name="current_session_context_class">thread</property>
        <property name="format_sql">true</property>
        
        <!-- 打开二级缓存 -->
      	<property name="hibernate.cache.use_second_level_cache">true</property>
		<property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
		<!-- 查询缓存依赖于二级缓存 --> 
		<property name="hibernate.cache.use_query_cache">true</property>  
<!-- 		<property name="hibernate.cache.provider_configuration_file_resource_path">classpath:ehcache.xml</property>
 -->		 
    <!-- 
        <mapping class="com.henry.entity.Student"/>
    -->
    
	 <!-- 
        <mapping class="com.henry.entity.Husband"/>
        <mapping class="com.henry.entity.Wife"/>
	  -->
	         
	<!-- 
        <mapping class="com.henry.entity.Husband1"/>
	 -->
	         
      <!-- 
        <mapping class="com.many2one.entity.Group"/>
        <mapping class="com.many2one.entity.User"/>
       -->
      
      <!-- 
        <mapping class="com.one2many.entity.Group"/>
        <mapping class="com.one2many.entity.User"/>
	  -->
	  
	  <!-- 
        <mapping class="com.many2one.one2many.entity.User"/>
        <mapping class="com.many2one.one2many.entity.Group"/>
	   -->
        
        <!-- 
        <mapping class="com.many2many.entity.Student"/>
        <mapping class="com.many2many.entity.Teacher"/>
         -->
         
        <!-- 
        <mapping class="com.many2many.bi.entity.Student"/>
        <mapping class="com.many2many.bi.entity.Teacher"/> 
         -->
         
    <!--      <mapping class="com.studentandcourse.entity.Student"/>
         <mapping class="com.studentandcourse.entity.Score"/>
         <mapping class="com.studentandcourse.entity.Course"/> -->
         
         <mapping class="com.henry.OneAndN.Topic"/>
         <mapping class="com.henry.OneAndN.Category"/>
    </session-factory>
</hibernate-configuration>
